html {
    font-family: 'Inconsolata';
}
.failed {
    background-color: darkred !important;
    color: white !important;
    -webkit-transition: background-color 1.4s ease;
    -moz-transition: background-color 1.4s ease;
    -o-transition: background-color 1.4s ease;
    transition: background-color 1.4s ease;
}
.accepted {
    background-color: darkgreen !important;
    color: white !important;
    -webkit-transition: background-color 1.4s ease;
    -moz-transition: background-color 1.4s ease;
    -o-transition: background-color 1.4s ease;
    transition: background-color 1.4s ease;
}

.tm-designer-tools {
    margin-left: 15px;
    margi-bottom: -1px;
}

.tm-designer-tool {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: -1px;
    z-index: 1;
}

#machine-wrapper {
    margin: 15px;
}

#machine-container {
    margin-top: 10px;
    height: 60px;
}

#stepCountContainer {
    font-size: 24px;
}

#stepCount {
    font-weight: bold;
}

#input-container {

}

.left {
    float: left;
}

.right {
    float: right;
}

#modalContainer {
    display: none;
}

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    padding-top: 12px;
}