/* inconsolata-regular - latin */
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/inconsolata-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Inconsolata'),
    url('fonts/inconsolata-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/inconsolata-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/inconsolata-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/inconsolata-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/inconsolata-v12-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}
/* inconsolata-700 - latin */
@font-face {
    font-family: 'Inconsolata';
    font-style:normal;
    font-weight: 700;
    src: url('fonts/inconsolata-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Inconsolata Bold'), local('Inconsolata-Bold'),
    url('fonts/inconsolata-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/inconsolata-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/inconsolata-v12-latin-700.woff') format('woff'), /* Modern Browsers */
    url('fonts/inconsolata-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/inconsolata-v12-latin-700.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

.failed {
    background-color: darkred !important;
    color: white !important;
    -webkit-transition: background-color 1.4s ease;
    -moz-transition: background-color 1.4s ease;
    -o-transition: background-color 1.4s ease;
    transition: background-color 1.4s ease;
}
.accepted {
    background-color: darkgreen !important;
    color: white !important;
    -webkit-transition: background-color 1.4s ease;
    -moz-transition: background-color 1.4s ease;
    -o-transition: background-color 1.4s ease;
    transition: background-color 1.4s ease;
}

.tm-designer-tools {
    margin-left: 15px;
    margi-bottom: -1px;
}

.tm-designer-tool {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: -1px;
    z-index: 1;
}

#machine-wrapper {
    margin: 15px;
}

#machine-container {
    height: 60px;
}

#machine-interactions {
    margin-bottom: 15px;
}

#machine-interactions button, #stepCountContainer {
    margin-top: 10px;
}

#stepCountContainer {
    font-size: 24px;
}

#stepCount {
    font-weight: bold;
}

#input-container {
    left: 5px;
    position: absolute;
}

.left {
    float: left;
    text-align: left;
}

.right {
    float: right;
    text-align: right;
}

.no-padding {
    padding: 0px;
}

#modalContainer {
    display: none;
}

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    padding-top: 12px;
}

.readerWriter {
    position: absolute;
}

#readerWriter-wheel-body {
    width: 82px;
    height: 6px;
    margin-left: 8px;
    margin-top: 14px;
    background-color: #333;
}
.readerWriter.wheel {
    font-size: 35px;
}

#readerWriter-wheel-left {
}

#readerWriter-wheel-right {
    margin-left: 68px;
}

.main-content {
    margin: 10% 10%;
}

#david:hover .speech-container { visibility: visible; }
#raphael:hover .speech-container { visibility: visible; }
#sebastian:hover .speech-container { visibility: visible; }

.speech-container {
    position: absolute;
    left: 170px;
    top: -50px;
    visibility: collapse;
}

p.speech {
    position: relative;
    width: 200px;
    height: 80px;
    text-align: center;
    line-height: 60px;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

p.speech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 68px;
    border: 25px solid;
    border-color: #666 transparent transparent #666;
}

p.speech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 64px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
}


@media (max-width: 480px) {
    .tape-column {
        width: 70px !important;
        margin: 5px !important;
    }

    .tape-input-cell {
     height: 55px !important;
    }

    .tape-input {
        font-size: 55px !important;
    }

    .tape-readerwriter-cell {
        margin-top: 3px !important;
        height: 8px !important;
    }

    .readerWriter {
        position: absolute;
    }

    #readerWriter-wheel-body {
        width: 57px;
        height: 4px;
        margin-left: 5px;
        margin-top: 11px;
        background-color: #333;
    }
    .readerWriter.wheel {
        font-size: 24px;
    }

    #readerWriter-wheel-left {
    }

    #readerWriter-wheel-right {
        margin-left: 48px;
    }
}